# Predicting Used Car Prices with Machine Learning Technique with 88 % accuracy

In this project my goal is to train a Random Forest Algorithm  with A dataset on the kaggle site in order to predict the value of a used car.<br/>
<br/>
Dataset link :
https://www.kaggle.com/orgesleka/used-cars-database

In [2]:
# -*- coding: utf-8 -*-
"""
Created on Tue Dec 10 16:50:18 2019

@author: Abdulrahman Alothman

"""
import numpy as np # linear algebra
import pandas as pd # data processing

veriler=pd.read_csv('autos.csv',encoding = "ISO-8859-1")
veriler.head(7)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,privat,Angebot,650,test,limousine,1995,manuell,102,3er,150000,10,benzin,bmw,ja,2016-04-04 00:00:00,0,33775,2016-04-06 19:17:07
6,2016-04-01 20:48:51,Peugeot_206_CC_110_Platinum,privat,Angebot,2200,test,cabrio,2004,manuell,109,2_reihe,150000,8,benzin,peugeot,nein,2016-04-01 00:00:00,0,67112,2016-04-05 18:18:39

In [6]:
print(veriler.shape)
veriler.describe()

(371528, 20)

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,nrOfPictures,postalCode
count,3.715280e+05,371528.000000,371528.000000,371528.000000,371528.000000,371528.0,371528.00000
mean,1.729514e+04,2004.577997,115.549477,125618.688228,5.734445,0.0,50820.66764
std,3.587954e+06,92.866598,192.139578,40112.337051,3.712412,0.0,25799.08247
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.00000
25%,1.150000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30459.00000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49610.00000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71546.00000
max,2.147484e+09,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.00000

In [7]:
#control the columns that contain nan
print(veriler.isnull().sum().to_frame('nulls'))

                     nulls
dateCrawled              0
name                     0
seller                   0
offerType                0
price                    0
abtest                   0
vehicleType          37869
yearOfRegistration       0
gearbox              20209
powerPS                  0
model                20484
kilometer                0
monthOfRegistration      0
fuelType             33386
brand                    0
notRepairedDamage    72060
dateCreated              0
nrOfPictures             0
postalCode               0
lastSeen                 0

# Cleaning data
5 columns have nan values <br/>
I remove lastSeen, dateCreated ,seller,offerType,dateCrawled,postalCode and nrOfPictures as well as I don't think they will be useful for a price prediction.

In [8]:
veriler=veriler.drop(['seller','offerType','dateCrawled','dateCreated','lastSeen','nrOfPictures','postalCode'],axis=1)
print(veriler.shape)

(371528, 13)

# Working on the null values 
I will use the 'Interpolation' method and most frequncy value to complete the missing data below

In [9]:
# convert columns from "object" to  "category" for Interpolation method 

veriler= veriler.astype({"name":'category',"abtest":'category',"vehicleType":'category',"gearbox":'category',"model":'category',"fuelType":'category',"brand":'category',"notRepairedDamage":'category'}) 
veriler.dtypes

name                   category
price                     int64
abtest                 category
vehicleType            category
yearOfRegistration        int64
gearbox                category
powerPS                   int64
model                  category
kilometer                 int64
monthOfRegistration       int64
fuelType               category
brand                  category
notRepairedDamage      category
dtype: object

In [10]:
#complete the missing data in 'model' column  (with most frequncy value)
model=veriler["model"].value_counts()
print(model)
veriler["model"].fillna("golf",inplace=True)

golf               30070
andere             26400
3er                20567
polo               13092
corsa              12573
                   ...
serie_2                8
rangerover             6
serie_3                4
serie_1                2
discovery_sport        1
Name: model, Length: 251, dtype: int64

In [11]:
#complete the missing data in 'fuelType' column  (with most frequncy value)
fuelType=veriler["fuelType"].value_counts()
veriler["fuelType"].fillna("benzin",inplace=True)

In [12]:
#complete the missing data in 'notRepairedDamage' column (with most frequncy value)
notRepairedDamage=veriler["notRepairedDamage"].value_counts()
print(notRepairedDamage)
veriler["notRepairedDamage"].fillna("nein",inplace=True)

nein    263182
ja       36286
Name: notRepairedDamage, dtype: int64

In [14]:
##complete the missing data in 'gearbox' column (with Interpolation method)
gearbox=veriler["gearbox"].value_counts()
print(gearbox)
veriler["gearbox"]=(veriler["gearbox"].cat.codes.replace(-1, np.nan).interpolate().astype(int).astype('category').cat.rename_categories(veriler["gearbox"].cat.categories))

manuell      286368
automatik     85160
Name: gearbox, dtype: int64

In [17]:
#complete the missing data in 'vehicleType' column (with Interpolation method)
vehicleType=veriler["vehicleType"].value_counts()
print(vehicleType)
veriler["vehicleType"]=veriler["vehicleType"].interpolate(method='pad')
veriler3=veriler.drop([0],axis=0)

limousine     106880
kleinwagen     89032
kombi          75125
bus            33648
cabrio         25515
coupe          21195
suv            16391
andere          3741
Name: vehicleType, dtype: int64

In [18]:
print(veriler3.isnull().sum().to_frame('nulls'))

                     nulls
name                     0
price                    0
abtest                   0
vehicleType              0
yearOfRegistration       0
gearbox                  0
powerPS                  0
model                    0
kilometer                0
monthOfRegistration      0
fuelType                 0
brand                    0
notRepairedDamage        0

# Prepare data for training

In [22]:
#label encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
encoded_veriler=veriler3.apply(LabelEncoder().fit_transform) #tüm veriler encod edildi 
print(encoded_veriler["price"].describe())
print(len(encoded_veriler))
encoded_veriler = encoded_veriler[(encoded_veriler.price > 100) & (encoded_veriler.price < 200000) ]
print(len(encoded_veriler))

count    371527.000000
mean       1454.981786
std        1135.190536
min           0.000000
25%         550.000000
50%        1156.000000
75%        2137.000000
max        5596.000000
Name: price, dtype: float64
371527
354737

In [23]:

x =  encoded_veriler.drop("price",axis=1) #price hariç tüm sütünleri dödürür
y=encoded_veriler['price'] #bağımlı değişken

In [24]:
#verilerin train ve test için Bölünmesi
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.33, random_state = 0)

# Random forests

In [25]:

from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(x_train, y_train)

C:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

# Predicting samples

In [27]:
y_pred=rfr.predict(x_test)
print('score: %.2f' % rfr.score(x_test, y_test))  #score hesaplama

score: 0.88

# Computation P value for columns

In [28]:
import statsmodels.api as sm
X=np.append(arr=np.ones((len(x),1)).astype(int),values=x,axis=1)
X_l=x.iloc[:,[1,2,3,4,5,6,7,8,9,10,11]].values
r_ols=sm.OLS(endog=y,exog=X_l)
r=r_ols.fit()
print(r.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.852
Model:                            OLS   Adj. R-squared (uncentered):              0.852
Method:                 Least Squares   F-statistic:                          1.854e+05
Date:                Wed, 29 Jan 2020   Prob (F-statistic):                        0.00
Time:                        14:44:19   Log-Likelihood:                     -2.8406e+06
No. Observations:              354737   AIC:                                  5.681e+06
Df Residuals:                  354726   BIC:                                  5.681e+06
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -7.1705      2.437     -2.943      0.003     -11.947      -2.394
x2           -40.5972      0.720    -56.410      0.000     -42.008     -39.187
x3            20.1122      0.078    258.304      0.000      19.960      20.265
x4          -282.4205      3.070    -91.995      0.000    -288.438    -276.404
x5             7.0395      0.019    367.245      0.000       7.002       7.077
x6             0.1097      0.020      5.510      0.000       0.071       0.149
x7          -153.6653      0.400   -383.897      0.000    -154.450    -152.881
x8             5.5595      0.334     16.622      0.000       4.904       6.215
x9           180.9416      1.203    150.463      0.000     178.585     183.299
x10           -1.2246      0.105    -11.620      0.000      -1.431      -1.018
x11          471.8481      4.205    112.209      0.000     463.606     480.090
==============================================================================
Omnibus:                    39580.694   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           296692.395
Skew:                           0.271   Prob(JB):                         0.00
Kurtosis:                       7.447   Cond. No.                         663.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.